<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication123">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/title_icon"
        android:label="오늘의 문세"
        android:roundIcon="@mipmap/title_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Print_Loading"></activity>
        <activity android:name=".Schoolprint_Loading" />
        <activity android:name=".Jobluck_Loading" />
        <activity android:name=".Test" />
        <activity android:name=".Jobluck" />
        <activity android:name=".Schoolprint" />
        <activity android:name=".Fortunecookie" />
        <activity android:name=".User_Input" />
        <activity android:name=".Print" />
        <activity android:name=".DatePicker" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>